body {
    background-color: #2c2e3d;
}

#ib_navbar .nav-header{
    background: #202430;
}

.navbar-default {
    background-color: #2C2E3D;
    border-color: #2f4050;
}



.nav-highlight > li.active {
    border-left: none;
}

.navbar-default .nav > li > a:hover {
    background:  #1f2430;
    color: white;
    outline: none;
}

.nav-highlight>li.active, .nav>li:focus {
    background:  #1f2430;
    outline: 0;
}

.profile-text {
    color: #ffffff !important;
    width: 100%;
    padding: 6px 30px;
    background: rgba(0, 0, 0, 0.5);
    display: block;
}

.profile-img {

    margin-left: 30px;
    margin-bottom: 15px;

}

.nav-highlight > li.active > ul {
    background:  #1f2430;
}

.nav > li > a {
    color: #868aa8;
}

.page-bg {
    background-color: #EEF5F9;
    -webkit-box-shadow: inset 1px 0px 20px rgba(0, 0, 0, 0.08);

}

.navbar-fixed-top {
    background: #fff;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}



.navbar-default .nav > li > a:focus {
    background:  #1f2430;
}





.fixed-nav .minimalize-styl-2 {
    color: #676c7b;
}

.nav.navbar-right>li>a {
    color: #676c7b;
}

.chart-statistic-box .chart-txt {

    background: #2c2e3d;

}

.modal-header {
    background: linear-gradient(to right, #2196F3, #1E88E5);
    color: #ffffff;
    border-bottom: 1px solid #eee;
}