@import url("//fonts.googleapis.com/css?family=Raleway:400,600,700,500");










.overflow-hidden {
    overflow: hidden
}



body.light-background {
    background-color: #f0f2f4
}






.wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 54px;
    min-height: 100%;
    padding-bottom: 45px
}

.wrapper.no-navigation {
    padding-top: 0
}

.wrapper.front-end-wrapper {
    padding-top: 0;
    padding-bottom: 0
}

.wrapper.no-footer {
    padding-bottom: 0
}



.sign-in-wrapper {
    padding-top: 80px
}

@media (max-width: 481px) {
    .sign-in-wrapper {
        padding-top: 40px
    }
}

.sign-in-wrapper .sign-in-inner {
    width: 370px;
    margin-left: auto;
    margin-right: auto
}

@media (max-width: 481px) {
    .sign-in-wrapper .sign-in-inner {
        width: 90%
    }
}

.sign-in-wrapper .login-brand {
    font-size: 30px;
    color: #333;
    margin-bottom: 30px
}





.no-padding {
    padding: 0 !important
}

.no-p-top {
    padding-top: 0 !important
}

.no-p-bottom {
    padding-bottom: 0 !important
}

.p-top-xs {
    padding-top: 5px
}

.p-top-sm {
    padding-top: 10px
}

.padding-xs {
    padding: 5px !important
}

.padding-sm {
    padding: 10px !important
}

.padding-md {
    padding: 20px !important
}

.padding-lg {
    padding: 40px !important
}

.paddingLR-xs {
    padding-left: 5px !important;
    padding-right: 5px !important
}

.paddingLR-sm {
    padding-left: 10px !important;
    padding-right: 10px !important
}

.paddingLR-md {
    padding-left: 20px !important;
    padding-right: 20px !important
}

.paddingLR-lg {
    padding-left: 40px !important;
    padding-right: 40px !important
}

.paddingTB-xs {
    padding-top: 5px !important;
    padding-bottom: 5px !important
}

.paddingTB-sm {
    padding-top: 10px !important;
    padding-bottom: 10px !important
}

.paddingTB-md {
    padding-top: 20px !important;
    padding-bottom: 20px !important
}

.paddingTB-lg {
    padding-top: 40px !important;
    padding-bottom: 40px !important
}

.no-margin {
    margin: 0 !important
}

.no-m-top {
    margin-top: 0 !important
}

.no-m-bottom {
    margin-bottom: 0 !important
}

.no-m-left {
    margin-left: 0 !important
}

.no-m-right {
    margin-right: 0 !important
}

.margin-xs {
    margin: 5px !important
}

.margin-sm {
    margin: 10px !important
}

.margin-md {
    margin: 20px !important
}

.margin-lg {
    margin: 40px !important
}

.marginTB-xs {
    margin-top: 5px !important;
    margin-bottom: 5px !important
}

.marginTB-sm {
    margin-top: 10px !important;
    margin-bottom: 10px !important
}

.marginTB-md {
    margin-top: 20px !important;
    margin-bottom: 20px !important
}

.marginTB-lg {
    margin-top: 40px !important;
    margin-bottom: 40px !important
}

.m-top-xs {
    margin-top: 5px
}

.m-top-sm {
    margin-top: 10px
}

.m-top-md {
    margin-top: 20px
}

.m-top-lg {
    margin-top: 40px
}

.m-left-xs {
    margin-left: 5px
}

.m-left-sm {
    margin-left: 10px
}

.m-left-md {
    margin-left: 20px
}

.m-left-lg {
    margin-left: 40px
}

.m-right-xs {
    margin-right: 5px
}

.m-right-sm {
    margin-right: 10px
}

.m-right-md {
    margin-right: 20px
}

.m-right-lg {
    margin-right: 40px
}

.m-bottom-xs {
    margin-bottom: 5px
}

.m-bottom-sm {
    margin-bottom: 10px
}

.m-bottom-md {
    margin-bottom: 20px
}

.m-bottom-lg {
    margin-bottom: 40px
}

.font-normal {
    font-weight: 400
}

.font-semi-bold {
    font-weight: 600
}

.font-sm {
    font-size: 70%
}

.font-12 {
    font-size: 12px
}

.font-14 {
    font-size: 14px
}

.font-16 {
    font-size: 16px
}

.font-18 {
    font-size: 18px
}

.font-500 {
    font-weight: 500
}

.font-600 {
    font-weight: 600
}

@media (max-width: 767px) {
    .text-left-sm {
        text-align: left !important
    }
}

.text-white {
    color: #fff
}

.text-muted {
    color: #aaa
}

.text-muted-light {
    color: #eee
}

.text-dark {
    color: #2a2a2a
}

.text-primary {
    color: #2196f3
}

.text-info {
    color: #23b7e5
}

.text-success {
    color: #2baab1
}

.text-warning {
    color: #edbc6c
}

.text-danger {
    color: #e36159
}

.text-purple {
    color: #7266ba
}

.text-skin {
    color: #2baab1
}

.text-upper {
    text-transform: uppercase
}

.bg-white {
    background-color: #fff
}

.bg-palette1 {
    background-color: #2baab1
}

.bg-palette2 {
    background-color: #23b7e5
}

.bg-palette3 {
    background-color: #7266ba
}

.bg-palette4 {
    background-color: #e36159
}

.bg-light {
    background-color: #f9f9f9
}

.bg-dark-blue {
    background-color: #4c5f70;
    color: #fff
}

.bg-grey {
    background-color: #edeef1
}

.bg-dark-grey {
    background-color: #bebfba
}

.bg-primary {
    background-color: #3278b3;
    color: #fff
}

.bg-warning {
    background-color: #edbc6c;
    color: #fff
}

.bg-info {
    background-color: #23b7e5;
    color: #fff
}

.bg-success {
    background-color: #2baab1;
    color: #fff
}

.bg-success .text-muted {
    color: #e4e9ed
}

.bg-danger {
    background-color: #e36159;
    color: #fff !important
}

.bg-purple {
    background-color: #7266ba;
    color: #fff
}

.bg-light-green {
    background-color: #1dc499
}

.bg-dark {
    background-color: #3f3f3b;
    color: #fff !important
}

.no-border {
    border: none
}

.border-transparent {
    border: 1px solid transparent
}

.border-all {
    border: 1px solid #ddd
}

.border-left {
    border-left: 1px solid #ddd
}

.border-right {
    border-right: 1px solid #ddd
}

.border-top {
    border-top: 1px solid #ddd
}

.border-bottom {
    border-bottom: 1px solid #ddd
}

.no-rounded {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0
}

.rounded {
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em
}

.rounded-top {
    border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0
}

.rounded-bottom {
    border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px
}

.width-100 {
    width: 100%
}



.vertical-top {
    vertical-align: top
}

.vertical-middle {
    vertical-align: middle
}

@media (max-width: 767px) {
    .pull-left-sm {
        float: left !important
    }
}









body, html {
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    font-size: 13px;
    background-color: #f5f5f5;
    font-family: Raleway, sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased
}





a {
    color: #4c5f70;
    outline: 0
}

a:focus, a:hover {
    color: #218388;
    text-decoration: none;
    outline: 0
}

a.text-normal {
    color: #666
}

a.text-normal a:focus, a.text-normal:hover {
    color: #2baab1
}

img {
    max-width: 100%
}

ul {
    padding: 0;
    margin: 0
}

.row.row-merge {
    margin: 0
}




.block {
    display: block
}

.inline-block {
    display: inline-block
}

.relative {
    position: relative
}

.full-width {
    width: 100%
}

.full-height {
    padding-bottom: 9999px;
    margin-bottom: -9999px
}

.inline {
    display: inline-block
}

.seperator {
    padding-top: 10px
}

.box-shadow {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}


.btn {
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease
}

.btn.btn-transparent {
    background: 0 0;
    border: none
}

.btn.btn-rounded {
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    padding-left: 15px;
    padding-right: 15px
}

.btn.btn-rounded.btn-icon-rounded {
    padding-left: 12px;
    padding-right: 12px
}

.btn.btn-rounded.btn-icon-rounded.btn-sm {
    padding-left: 10px;
    padding-right: 10px
}

.btn.application-btn {
    padding: 5px 20px;
    font-size: 40px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px
}

.btn.application-btn span {
    display: block;
    font-size: 13px;
    font-weight: 600
}

.btn:focus, .btn:hover {
    outline: 0;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease
}

.btn.btn-primary {
    background: #3278b3;
    border: 1px solid #2c6b9f
}

.btn.btn-primary.active, .btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover {
    background: #3f8ac9;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.btn.btn-info {
    background: #23b7e5;
    border: 1px solid #19a9d5
}

.btn.btn-info.active, .btn.btn-info:active, .btn.btn-info:focus, .btn.btn-info:hover {
    background: #43c1e9;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.btn.btn-success {
    background: #2196f3;
    border: 1px solid #2196f3
}

.btn.btn-success.active, .btn.btn-success:active, .btn.btn-success:focus, .btn.btn-success:hover {
    background: #2196f3;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.btn.btn-warning {
    background: #edbc6c;
    border: 1px solid #eab255
}

.btn.btn-warning.active, .btn.btn-warning:active, .btn.btn-warning:focus, .btn.btn-warning:hover {
    background: #f1ca8c;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.btn.btn-danger {
    background: #e36159;
    border: 1px solid #df4c43
}

.btn.btn-danger.active, .btn.btn-danger:active, .btn.btn-danger:focus, .btn.btn-danger:hover {
    background: #e87e78;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.btn.btn-purple {
    background: #7266ba;
    color: #fff;
    border: 1px solid #6254b2
}

.btn.btn-purple.active, .btn.btn-purple:active, .btn.btn-purple:focus, .btn.btn-purple:hover {
    background: #897fc5;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}








