
body {

    background: #272f3a
}

ul {
    padding: 0;
    list-style-type: none
}
ul.default {
    margin: inherit;
    padding: 0 30px;
    list-style-type: inherit
}
ul.default ul {
    list-style-type: circle
}
ul.default ul ul {
    list-style-type: square
}
ul.custom-bullets {
    padding-left: 20px
}
ul.custom-bullets li:before {
    color: red;
    content: "\2022";
    font-size: 30px;
    width: 20px;
    height: 20px
}

.no-margin {
    margin: 0
}
.no-padding {
    padding: 0
}
.auto-margin {
    margin: auto
}
.padding-10 {
    padding: 10px
}
.padding-15 {
    padding: 15px
}
.center-text {
    text-align: center
}
.right-text {
    text-align: right
}
.text-success {
    color: #71c586
}
.text-danger {
    color: #e84f4c
}
.text-info {
    color: #2196f3
}
.text-warning {
    color: #ffb400
}
.text-brown {
    color: #ab7967
}
.text-pink {
    color: #F782AA
}
.text-white {
    color: #fff
}
.text-grey {
    color: gray
}
.text-light {
    color: #b3b3b3
}
.spacer5 {
    height: 5px
}
.spacer10 {
    height: 10px
}
.spacer20 {
    height: 20px
}
.spacer30 {
    height: 30px
}
.green-bg {
    background: #71c586
}
.red-bg {
    background: #e84f4c
}
.dark-red-bg {
    background: #f35454
}
.blue-bg {
    background: #2196f3
}
.yellow-bg {
    background: #ffb400
}
.mustard-bg {
    background: #e3b442
}
.pink-bg {
    background: #F782AA
}
.brown-bg {
    background: #ab7967
}
.light-green-bg {
    background: #aed048
}
.violet-bg {
    background: #c38fbb
}
.teal-bg {
    background: #47BCC7
}
.orange-bg {
    background: #f2682a
}
.grey-bg {
    background: #b3b3b3
}
.dark-grey-bg {
    background: gray
}
.fb-bg {
    background: #3B5998
}
.tw-bg {
    background: #55ACEE
}
.purple-bg {
    background: #500776
}
.chart-height {
    height: 150px;
    overflow: hidden
}
.chart-height1 {
    height: 300px;
    overflow: hidden
}
.chart-height2 {
    height: 170px;
    overflow: hidden
}
.chart-height3 {
    height: 235px;
    overflow: hidden
}
.chart-height4 {
    height: 80px;
    width: 80px;
    overflow: hidden;
    float: left
}
.chart-height5 {
    height: 100px;
    overflow: hidden
}
header {
    padding: 0 25px;
    vertical-align: middle;
    background: #181d24
}
@media (max-width: 767px) {
    header {
        padding: 0 20px;
        -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0
    }
}
.logo {
    margin: 17px 0;
    float: left
}
.logo h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #e6e6e6;
    line-height: 24px
}
.logo h4 i {
    color: #71c586;
    font-size: 21px;
    margin-left: 2px;
    vertical-align: middle
}
.logo img {
    max-width: 90px;
    margin: 0;
    filter: brightness(0) invert(1)
}
ul#header-actions {
    margin: 0 0 0 10px
}
ul#header-actions li.list-box {
    position: relative;
    cursor: pointer;
    float: left;
    text-align: center;
    line-height: 100%;
    vertical-align: middle
}
ul#header-actions li.list-box a {
    padding: 13px 15px;
    display: block
}
ul#header-actions li.list-box a .info-label {
    color: #fff;
    text-align: center;
    height: 28px;
    width: 28px;
    line-height: 28px;
    display: block;
    background: #313b49;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px
}
ul#header-actions li.list-box a .info-icon {
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-shadow: 0 7px 5px #000;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px
}
ul#header-actions li.list-box:hover {
    background: #212730
}
ul#header-actions li.list-box:hover .info-label {
    background: #35404f
}
ul#header-actions li.list-box.open {
    background: #212730
}
ul#header-actions li.list-box.open .info-label {
    background: #35404f
}
ul#header-actions li.list-box.user-admin {
    text-align: right;
    background: 0 0
}
ul#header-actions li.list-box.user-admin .admin-details {
    float: left;
    margin: 12px 10px 0;
    color: #f5f8fb
}
ul#header-actions li.list-box.user-admin .admin-details .name {
    line-height: 18px
}
ul#header-actions li.list-box.user-admin .admin-details .designation {
    font-size: 12px;
    color: #97a5b9
}
ul#header-actions li.list-box.user-admin .dropdown-menu {
    min-width: 215px;
    min-height: 180px
}
ul#header-actions li.list-box.user-admin .dropdown-menu .dropdown-content a {
    padding: 7px 12px;
    font-size: 12px;
    color: #000
}
ul#header-actions li.list-box.user-admin .dropdown-menu .dropdown-content a i {
    font-size: 21px;
    color: #e84f4c;
    margin-right: 10px
}
ul#header-actions li.list-box.user-admin .dropdown-menu .dropdown-content a:first-child {
    border-bottom: 1px solid #d9d9d9
}
ul#header-actions li.list-box.user-admin .dropdown-menu .dropdown-content a:first-child:hover {
    background: #e84f4c;
    color: #fff;
    border-bottom: 1px solid #e84f4c
}
ul#header-actions li.list-box.user-admin .dropdown-menu .dropdown-content a:first-child:hover i {
    color: #fff
}
ul#header-actions li.list-box.user-admin a.dropdown-toggle {
    background: #272f3a;
    float: right;
    padding: 4px;
    text-align: center;
    margin-top: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}
ul#header-actions li.list-box.user-admin a.dropdown-toggle i {
    color: #fff;
    font-size: 30px
}
ul#header-actions li.list-box:last-child a {
    padding-right: 0
}
ul#header-actions .dropdown-menu {
    padding: 0;
    min-width: 320px;
    min-height: 210px;
    float: left;
    position: absolute;
    right: 0;
    top: 50px;
    left: inherit;
    border: 0;
    border-top: 4px solid #2196f3;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
ul#header-actions .dropdown-menu:before {
    content: "";
    position: absolute;
    top: -14px;
    right: 10px;
    border-bottom: 10px solid #2196f3;
    border-right: 10px solid transparent
}
ul#header-actions .dropdown-header {
    background: #fff;
    padding: 10px 15px;
    color: #2196f3;
    font-weight: 600
}
ul#header-actions .dropdown-footer {
    border-top: 1px solid #ccc;
    padding: 10px 15px;
    color: #2196f3;
    font-size: 11px
}
ul#header-actions .dropdown-footer i {
    font-size: 12px;
    margin-left: 4px;
    vertical-align: middle;
    color: #71c586
}
@media (max-width: 767px) {
    ul#header-actions li.list-box {
        display: none
    }
    ul#header-actions li.list-box.user-admin {
        display: block
    }
}
.dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0
}
.dropdown-menu>li a:hover {
    background: #f5f8fb
}
a.support {
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 2px 10px;
    display: inline-block;
    margin: 16px 10px 0 30px;
    font-size: 9px;
    background: #009688;
    color: #fff;
    float: right
}
@media (max-width: 767px) {
    a.support {
        display: none
    }
}
.custom-search {
    margin: 9px auto 0;
    position: relative;
    top: 0;
    line-height: 36px;
    float: right
}
.custom-search::-webkit-input-placeholder {
    color: #4e5e74
}
.custom-search:-moz-placeholder {
    color: #4e5e74
}
.custom-search::-moz-placeholder {
    color: #4e5e74
}
.custom-search:-ms-input-placeholder {
    color: #4e5e74
}
.custom-search .search-query {
    padding: 7px 15px;
    margin-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    background: rgba(0, 0, 0, .1);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    line-height: 20px;
    border: 1px solid #313b49;
    width: 240px
}
.custom-search .search-query:focus {
    outline: 0;
    background: rgba(0, 0, 0, .2);
    border: 1px solid #3f4c5e;
    width: 280px
}
.custom-search i {
    padding: 0 20px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    border-left: 1px solid #313b49;
    font-size: 16px
}
@media (max-width: 991px) {
    .custom-search {
        display: none
    }
}
.navbar-default {
    border: none;
    background: 0 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    min-height: 36px
}
.navbar-default .navbar-toggle {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #71c586;
    padding: 9px 12px;
    margin: 0;
    background: #71c586
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #e53935;
    border-color: #e53935
}
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff
}
.navbar-default .navbar-collapse {
    border-top: 0;
    padding: 0;
    box-shadow: none;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0
}
.navbar-default .navbar-nav>li {
    margin-right: 1px
}
.navbar-default .navbar-nav>li>a {
    padding: 13px 20px;
    min-width: 110px;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0, #f1f5fa 86%, #c9d9ea 100%);
    background: -webkit-linear-gradient(top, #fff 0, #f1f5fa 86%, #c9d9ea 100%);
    background: linear-gradient(to bottom, #fff 0, #f1f5fa 86%, #c9d9ea 100%);
    font-size: 14px;
    color: #333;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0
}
.navbar-default .navbar-nav>li>a i {
    font-size: 18px;
    float: left;
    margin-right: 5px;
    line-height: 20px
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background: #2196f3
}
.navbar-default .navbar-nav>li>a:hover i {
    color: #fff
}
.navbar-default .navbar-nav>li>a .caret {
    position: absolute;
    font-family: icomoon;
    border: none;
    top: 14px
}
.navbar-default .navbar-nav>li>a .caret:before {
    content: "\e313"
}
.navbar-default .navbar-nav>li>.dropdown-menu {
    border: 0;
    background: #2196f3
}
.navbar-default .navbar-nav>li>.dropdown-menu li a {
    color: #fff;
    font-size: 12px;
    padding: 5px 15px
}
.navbar-default .navbar-nav>li>.dropdown-menu li a:focus,
.navbar-default .navbar-nav>li>.dropdown-menu li a:hover {
    background: #2e6ea6
}
.navbar-default .navbar-nav>.open>a {
    color: #fff;
    background: #2196f3;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0
}
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background: #2196f3
}
.navbar-default .navbar-nav>.open>a i {
    color: #fff
}
.navbar-default .navbar-nav>.active>a {
    position: relative;
    background-color: #2196f3;
    background: -moz-linear-gradient(top, #2196f3 0, #2196f3 30%, #2196f3 100%);
    background: -webkit-linear-gradient(top, #2196f3 0, #2196f3 30%, #2196f3 100%);
    background: linear-gradient(to bottom, #2196f3 0, #2196f3 30%, #2196f3 100%);
    color: #fff;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0
}
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #2196f3;
    color: #fff
}
.navbar-default .navbar-nav>.active>a i {
    color: #fff
}
@media (min-width: 768px) {
    .navbar-default .navbar-nav>li:hover>a {
        color: #fff;
        background: #2196f3
    }
    .navbar-default .navbar-nav>li:hover>.dropdown-menu {
        display: block
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-default .navbar-nav>li a {
        padding: 12px 15px;
        min-width: 95px;
        font-size: 13px
    }
    .navbar-default .navbar-nav>li a i {
        font-size: 14px
    }
    .navbar-default .navbar-nav>li a .caret {
        display: none
    }
}
@media (max-width: 767px) {
    .navbar {
        position: inherit;
        top: 0
    }
    .navbar-default .navbar-collapse {
        padding: 0 15px
    }
    .navbar-default .navbar-nav>li {
        border-bottom: 1px solid #f2f2f2
    }
    .navbar-default .navbar-nav>li a {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        text-align: left;
        margin-right: 0;
        padding: 10px 15px
    }
    .navbar-default .navbar-nav>li a i {
        margin-right: 10px
    }
    .navbar-default .navbar-nav>li a .caret {
        top: 12px;
        right: 30px
    }
    .navbar-default .navbar-nav>li.active {
        border-bottom: 1px solid #2196f3
    }
    .navbar-default .navbar-nav .open .dropdown-menu {
        top: 55px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 0
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li {
        background-color: #2196f3
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        color: #fff;
        padding: 7px 40px 7px 20px
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li:hover {
        background: #fff;
        color: #000
    }
    .navbar-default .navbar-nav .open .dropdown-menu:before {
        border: 0
    }
}
.right-sidebar,
.top-bar {
    border-top: 5px solid #2196f3
}
.dashboard-wrapper {
    margin: 25px 10px 20px 10px;
    position: relative;
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}
@media (max-width: 1199px) {
    .dashboard-wrapper {
        margin: 20px 5px
    }
}
.dashboard-wrapper-full {
    margin: 25px 10px 20px;
    position: relative;
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}
.main-container {
    position: relative;
    padding: 20px;
    min-height: 700px;
    background: #f5f8fb
}

@media (max-width: 1199px) {
    .right-sidebar {
        display: none
    }
}
.top-bar {
    padding: 0 20px;
    background: #fff;
    border-bottom: 1px solid #d1dfec;
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0
}
.top-bar .page-title {
    float: left
}
.top-bar .page-title h4 {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 21px;
    line-height: 70px
}
.top-bar .page-title h4 .fa {
    font-size: 14px;
    padding-left: 3px;
    color: #e84f4c
}
@media (max-width: 767px) {
    .top-bar {
        margin-top: 15px;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0
    }
    .top-bar .page-title h4 {
        font-size: 16px;
        line-height: 48px
    }
    ul.topbar-stats {
        display: none
    }
}
ul.topbar-stats {
    float: right
}
ul.topbar-stats li {
    border-left: 1px solid #d9d9d9;
    padding: 0 24px;
    margin: 15px 0 0;
    float: left
}
ul.topbar-stats li:first-child {
    border-left: none;
    padding-left: 0
}
ul.topbar-stats li:last-child {
    padding-right: 0
}
ul.topbar-stats li h4 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600
}
ul.topbar-stats li h4 i {
    font-size: 18px;
    font-weight: 600
}
ul.topbar-stats li h4 i.up {
    color: #71c586
}
ul.topbar-stats li h4 i.down {
    color: #e84f4c
}
ul.topbar-stats li h5 {
    padding: 0;
    margin: 0;
    line-height: 16px
}
ul.topbar-stats li .sales-details {
    float: left;
    margin-left: 5px
}
ul.topbar-stats li .sales-block {
    float: left;
    position: relative;
    height: 30px;
    text-align: center;
    top: 6px;
    margin-right: 12px
}

@media (max-width: 767px) {
    ul.social-buttons li {
        width: 30%
    }
    #scrollUp {
        bottom: 20px
    }
}
.footer {
    border-top: 1px solid #d1dfec;
    height: 60px;
    line-height: 60px;
    text-align: left;
    font-size: 12px;
    width: 100%;
    padding: 0 20px;
    background: #fff;
    position: relative;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}
.footer span {
    color: #e84f4c
}
#scrollUp {
    bottom: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    padding: 0;
    font-size: 21px;
    line-height: 48px;
    text-align: center;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    color: #fff;
    background-color: #6dc6cd;
    -webkit-transition: bottom 150ms linear;
    -moz-transition: bottom 150ms linear;
    -ms-transition: bottom 150ms linear;
    -o-transition: bottom 150ms linear;
    transition: bottom 150ms linear
}
#scrollUp:hover {
    background-color: #36969e
}

.nav-tabs {
    border-bottom: 1px solid #d1dfec
}
.nav-tabs li a {
    margin-right: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #e3ebf4;
    background: #e3ebf4
}
.nav-tabs li a:hover {
    background: #d8e4ef;
    border: 1px solid #d8e4ef
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background: 0 0;
    color: #000;
    border: 1px solid #d1dfec;
    border-bottom: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.tab-content {
    padding: 20px;
    border: 1px solid #d1dfec;
    border-top: 0
}
.mark,
mark {
    background-color: #ffb400;
    color: #000
}
.gutter.row {
    margin-right: -8px;
    margin-left: -8px
}
.gutter-10>[class^=" col-"],
.gutter>[class^=col-] {
    padding-right: 8px;
    padding-left: 8px
}